:root {
	font-family: sans-serif;
}

body {
	margin: 0;
	background-color: lightsteelblue;

	> * {
		margin: 20px;
	}
}

h1,
h2 {
	font-family: Impact, sans-serif;
	color: darkblue;
}

img {
	display: block;
	max-width: 640px;
}

table {
	border-collapse: collapse;

	caption {
		margin-bottom: 10px;
	}

	th,
	td {
		border: 1px solid black;
		padding: 10px;
		text-align: left;
	}
}

form {
	> div {
		margin-bottom: 15px;
	}

	label {
		display: block;
		margin-bottom: 5px;
	}

	input,
	textarea,
	select,
	button {
		padding: 5px;
		border: none;
		border-radius: 5px;
	}

	select {
		background-color: white;
	}

	button {
		padding: 10px;
		background-color: darkblue;
		color: white;
		font-weight: bold;
		cursor: pointer;
	}
}
